<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu&display=swap" rel="stylesheet">
    <style>
      h1 {
        font-family: 'Permanent Marker', cursive;
        color: #8a0303;
      }
      form {
        font-family: Ubuntu;
      }
    </style>
  </head>
  <body>
    <center>
      <br>
      <h1>Champions - Submit your names:</h1>
      <br>
      <form action="/names" method="POST">
        Player 1:   <input type = "text" name="player_1">
        <br></br>
        Player 2:   <input type="text" name="player_2">
        <br></br>
        <input type="submit"value="Submit">
      </form>
    </center>
  </body>
</html>
