<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
      h1 {
        font-family: Ubuntu;
        color: #8a0303;
      }
      form {
        font-family: Ubuntu;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>Enter your names:</h1>
      <form action="/names" method="POST">
        Player 1: <input type = "text" name="player_1"><br>
        Player 2: <input type="text" name="player_2"><br>
        <input type="submit"value="Submit">
      </form>
    </center>
  </body>
</html>
